/* color palette: https://www.color-hex.com/color-palette/66212 */

* {
  margin: 0px;
  padding: 0px;
}

body, html, .page-body {
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}

nav {
  display: flex;
  min-height: 130px;
  min-width: 400px;
  background-color: #313235;
  padding: 12px;

}

.menu {
  width: 70%;
}

ul {
  padding: 0px;
  list-style: none;
}

.nav {
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
}

.admin-and-logo{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

#logo {
  height: 200px;
  width: 100px;
  color: #000;
}

li {
  font-size: 18px;
  color: #FFF;
}

.logo {
  padding: 0px;
}

.page-body {
  display: flex;
}

h4 {
  color: #000;

}

h1 {
  padding: 15px 0px 0px 49px;
}

i {
  color: #004c4c;
  /*color: #242628;*/
  padding: 0px 10px 0px 40px;
}

select {
  background-color: #f7f7f7;
  border: #f7f7f7 0px;
  font-size: 18px;
  padding: 0px;
  margin-right: 40px;
}

img.nav-icons {
  width: 50px;
  height: 50px;
}

img.website-logo {
  width: 255px;
  height: 105px;
  justify-content: center;
  align-content: stretch;
}

.page-body {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #004c4c;
  margin: 15px;
  height: 480px;
}

.card-header {
  background-image: url('images/first-mountain.jpeg');
  background-position: fixed;
  top: 0;
  bottom: 0;
  height: 180px;
}

.mt-facts, .ticklist, .attachments {
  padding: 10px;
}

iframe {
  border: none;
}