/* color palette: https://www.color-hex.com/color-palette/66212 */

* {
  margin: 0px;
  padding: 0px;
}

body, html, .page-body {
  background-color: lightgrey;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  min-height: 130px;
  min-width: 400px;
  background-color: #313235;
  padding: 12px;

}

.menu {
  width: 70%;
}

ul {
  padding: 0px;
  list-style: none;
}

.nav {
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
}

.admin-and-logo{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

#logo {
  height: 200px;
  width: 100px;
  color: #000;
}

li {
  font-size: 18px;
  color: #FFF;
}

.logo {
  padding: 0px;
}

.page-body {
  display: flex;
}


h1 {
  padding: 15px 0px 15px 49px;
  display: block;
}

h3 {
    font-size: 32px;
}

h4 {
  color: #000;
}

h5 {
  font-size: 12px;
}

i {
  color: #FFF;
  padding: 0px 10px 0px 40px;
}

select {
  background-color: #f7f7f7;
  border: #f7f7f7 0px;
  font-size: 18px;
  padding: 0px;
  margin-right: 40px;
}

img.nav-icons {
  width: 50px;
  height: 50px;
}

img.website-logo {
  width: 255px;
  height: 105px;
  justify-content: center;
  align-content: stretch;
}

.page-body {
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.card {
  background-color: grey;
  height: 480px;
  width: 300px;
  margin: 7px auto;
  border-radius: 5px;
  box-shadow: 2px 5px;
}

.card-photos {
  height: 180px;
  width: 300px;
  border-radius: 5px;
}

.hyperlink {
  background-color: lightgrey;
}

.fa-share-square {
  position: absolute;
  padding: 15px;
  font-size: 45px;
}

.views {
  position: absolute;
  padding-left: 240px;
  padding-top: 15px;
  color: #FFF;
}

.mt-facts, .ticklist, .attachments {
  padding: 10px;
}
